<h1>Home Page</h1>

<!-- 
<h1 id="first">First</h1>
<h1 id="second">Second</h1>
<h1 id="third">Third</h1>
<h1 id="fourth">Fourth</h1>


<button onclick="changeColors()">Change Colors</button>
 -->

 <button onclick="grabData()">Grab Food Truck Data</button>
 <button onclick="hideTrucks()">Hide all food trucks</button>
 <button onclick="showTrucks()">Show all food trucks</button>
 <button onclick="showTacos()">Show me tacos</button>
 <div id="trucks"></div>